<app-header></app-header>
<main role="main" *ngIf="showAlbums">
  <div class="album py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4" *ngFor="let album of albumsArray.data">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <h5 class="card-title">{{album.artist}}</h5>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a routerLink="/album-detail/{{album.artist}}" class="btn btn-primary btn-albun">Ver todos los Álbumes</a>
                </div>
                <small class="total-albums">Total de albums {{album.albums.length}}</small>
              </div>
            </div>
          </div>
        </div>      
      </div>
    </div>
  </div>
</main>
<main role="main" *ngIf="!showAlbums">
    <div class="album py-5">
      <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col-md-6">
            <div class="card mb-4 box-shadow">
              <div class="card-body">
                    <h6 class="welcome-text">Bienvenido</h6>
                    <h2 class="user-text">{{user}}</h2>
                    <button type="button" (click)="getAlbums()" class="btn btn-primary boton_personalizado float-right">Mis canciones favoritas</button>
              </div>
            </div>
          </div>      
        </div>
      </div>
    </div>
  </main>